In [3]:
import pandas as pd
import numpy as np
from datetime import datetime
from pytz import timezone
import sqlite3

In [4]:
file1 = pd.read_csv("dataset/timezones_Detailed_588_Countries.csv")
file2 = pd.read_csv("dataset/timezones_Standard_Times.csv")
file3 = pd.read_excel("dataset/Time zones_404_Counries.xlsx")

In [5]:
file1_arr = file1.to_numpy()
file2_arr = file2.to_numpy()
file3_arr = file3.to_numpy()

In [10]:
def time_converter(source_country):
    target_country = source_country
    for country in file3['Country Name']:
        if country == target_country:
            time_zone = file3['Time Zone'][file3['Country Name']==source_country].to_numpy()[0]
            #print(time_zone.split()[0])
            converted = datetime.now(timezone(time_zone))
            now_time = converted.strftime("%H:%M:%S")
            print(now_time)

        
def user_details():
    first_name = input("Enter first name:\n")
    last_name = input("Enter last name:\n")
    country = input("Enter source country:\n").capitalize()
    bootcamp = input("Enter program type:\n")
    print(time_converter(country))
    return first_name, last_name, country, bootcamp
    

def calculate_time():
    pass

now = user_details()

Enter first name:
John
Enter last name:
AJAYI
Enter source country:
NIGERIA
Enter program type:
MACHINE LEARNING
22:27:16
None

In [11]:
# class Employee:
#     """A sample Employee class"""

#     def __init__(self, first, last, pay):
#         self.first = first
#         self.last = last
#         self.pay = pay

# conn = sqlite3.connect('employee.db')
conn = sqlite3.connect('schdule.db')   #To set a connection to memory 

c = conn.cursor()

# c.execute("""CREATE TABLE schdule (
#             first_name text,
#             last_name text,
#             bootcamp text,
#             country text
#             )""")

def insert_emp(emp):
    with conn:
        c.execute("INSERT INTO schdule VALUES (:first_name, :last_name, :country, :bootcamp)", 
              {'first_name':now[0], 'last_name':now[1], 'country':now[2], 'bootcamp':now[3]})

def get_emps_by_name(lastname):
    c.execute("SELECT * FROM schdule WHERE last_name=:last_name", {'last_name':now[1]})
    return c.fetchall()

# def update_pay(emp, pay):
#     with conn:
#         c.execute("""UPDATE schdule SET pay = :pay
#                     WHERE first = :first AND last = :last""",
#                   {'first':emp.first, 'last':emp.last, 'pay':pay})

# def remove_emp(emp):
#     with conn:
#         c.execute("DELETE from schdule WHERE first = :first AND last = :last",
#                  {'first':emp.first, 'last':emp.last})


# emp_1 = Employee('John', 'Doe', 80000)
# emp_2 = Employee('Mary', 'Doe', 90000)

# insert_emp(emp_1)
# insert_emp(emp_2)

# emps = get_emps_by_name('Doe')
# print(emps)

# update_pay(emp_2, 95000)
# remove_emp(emp_1)
now
emps = get_emps_by_name('John')
print(emps)

conn.close()

[]