In [1]:
# Project breakdown
### get input from user

In [2]:
import pandas as pd
import numpy as np

In [3]:
file1 = pd.read_csv("dataset/timezones_Detailed_588_Countries.csv")
file2 = pd.read_csv("dataset/timezones_Standard_Times.csv")
file3 = pd.read_excel("dataset/Time zones_404_Counries.xlsx")

In [4]:
file1.head()

             timezone  offset  offset_dst(Day light Savings)
0      Africa/Abidjan       0                              0
1        Africa/Accra       0                              0
2  Africa/Addis_Ababa   10800                          10800
3      Africa/Algiers    3600                           3600
4       Africa/Asmara   10800                          10800

In [5]:
file2.head()

   Zone                            Time Zone Name    GMT Offset
0  ACDT  Australian Central Daylight Savings Time        +10:30
1  ACST          Australian Central Standard Time        +09:30
2   ACT                                 Acre Time            -5
3   ACT                         ASEAN Common Time  +06:30 - +09
4   ADT                    Atlantic Daylight Time            -3

In [6]:
file3.head()

  Country Code    Country Name          Time Zone  GMT Offset
0           AF     Afghanistan         Asia/Kabul  UTC +04:36
1           AL         Albania      Europe/Tirane  UTC +01:19
2           DZ         Algeria     Africa/Algiers  UTC +00:12
3           AS  American Samoa  Pacific/Pago_Pago  UTC +12:37
4           AD         Andorra     Europe/Andorra  UTC +00:06

In [7]:
user_details = {"Data Science", "Machine learning", "Data Analytics"}

In [8]:
def time_converter():
    pass

In [9]:
def checker():
    pass

In [10]:
country_time = {}

In [12]:
country_time["Nigeria"] = 200

In [13]:
country_time

{'Nigeria': 200}

In [18]:
for time in file3["GMT Offset"]:
    print(time)
#     country_time[file3["Time Zone"]] = time

UTC +04:36
UTC +01:19
UTC +00:12
UTC +12:37
UTC +00:06
UTC +00:13
UTC -04:24
UTC
UTC
UTC +09:48
UTC
UTC +11:39
UTC
UTC
UTC +03:06
UTC
UTC
UTC -04:24
UTC -03:53
UTC -04:23
UTC -04:16
UTC -04:21
UTC -04:27
UTC -04:35
UTC -04:36
UTC -04:21
UTC -04:34
UTC -04:25
UTC -04:20
UTC -04:33
UTC +02:58
UTC -04:24
UTC
UTC +09:14
UTC +10:12
UTC +09:25
UTC +08:43
UTC +08:35
UTC +09:49
UTC +09:55
UTC +10:36
UTC +09:39
UTC +07:43
UTC +10:04
UTC +01:05
UTC +03:19
UTC -05:17
UTC +03:26
UTC +06:01
UTC -03:58
UTC +01:50
UTC +00:17
UTC -05:52
UTC +00:13
UTC -04:19
UTC +05:58
UTC -04:32
UTC -04:24
UTC +01:22
UTC +02:10
UTC -03:12
UTC -02:34
UTC -03:13
UTC -04:02
UTC -03:38
UTC -03:44
UTC -04:39
UTC -02:34
UTC -02:22
UTC -04:00
UTC -02:09
UTC -04:15
UTC -02:19
UTC -04:31
UTC -03:38
UTC -03:06
UTC +04:49
UTC +07:39
UTC +01:33
UTC -00:16
UTC +02:10
UTC +06:42
UTC +00:13
UTC -05:18
UTC -04:24
UTC
UTC -07:28
UTC -09:17
UTC -08:00
UTC -07:33
UTC -08:10
UTC -03:59
UTC -04:01
UTC -04:14
UTC
UTC
UTC -04:19
UTC -05:53
UTC
UTC -06:18
UTC
UTC -06:58
UTC
UTC -03:30
UTC -07:11
UTC -05:57
UTC -05:17
UTC -08:12
UTC -09:00
UTC -06:28
UTC
UTC -01:34
UTC -05:18
UTC +00:13
UTC +01:00
UTC -04:43
UTC -04:42
UTC -07:17
UTC +08:05
UTC +05:50
UTC +07:02
UTC +06:27
UTC -04:56
UTC +02:27
UTC +00:13
UTC +00:13
UTC +02:10
UTC +13:20
UTC -05:36
UTC +01:22
UTC -05:29
UTC -04:24
UTC +02:15
UTC +02:13
UTC +00:57
UTC -00:16
UTC +00:50
UTC +02:27
UTC -04:24
UTC -04:39
UTC -05:19
UTC -05:58
UTC +02:05
UTC -05:56
UTC +00:13
UTC +02:27
UTC +01:39
UTC +02:27
UTC -03:51
UTC -00:27
UTC +11:55
UTC +01:39
UTC +00:09
UTC -03:29
UTC -08:59
UTC -09:18
UTC -09:58
UTC
UTC +00:13
UTC -00:16
UTC +02:59
UTC +00:53
UTC +00:34
UTC -00:16
UTC -00:21
UTC +01:34
UTC -01:14
UTC -03:26
UTC -01:27
UTC -04:35
UTC -04:24
UTC -04:24
UTC -14:21
UTC -06:02
UTC -00:01
UTC -00:16
UTC -01:02
UTC -03:52
UTC -04:49
UTC +00:49
UTC -05:48
UTC +07:36
UTC +01:16
UTC -01:28
UTC +05:53
UTC +07:07
UTC +09:22
UTC +07:57
UTC +07:17
UTC +03:25
UTC +02:57
UTC -00:25
UTC -00:01
UTC +02:20
UTC +00:49
UTC -05:07
UTC +09:18
UTC -00:01
UTC +02:23
UTC +05:07
UTC +03:21
UTC +03:48
UTC +03:27
UTC +03:25
UTC +04:14
UTC +04:21
UTC +02:27
UTC
UTC -10:29
UTC +11:32
UTC +08:23
UTC +08:27
UTC +03:06
UTC +04:58
UTC +06:42
UTC +01:36
UTC +02:22
UTC +01:52
UTC -00:43
UTC +00:52
UTC +00:34
UTC +01:41
UTC +00:24
UTC +07:34
UTC +01:22
UTC +02:27
UTC +02:10
UTC +06:46
UTC +07:21
UTC +04:54
UTC -00:16
UTC +00:58
UTC +11:09
UTC +11:24
UTC -04:04
UTC -00:16
UTC +03:50
UTC +02:27
UTC -07:01
UTC -05:47
UTC -07:04
UTC -07:23
UTC -06:40
UTC -07:05
UTC -05:58
UTC -06:36
UTC -06:41
UTC -06:57
UTC -07:48
UTC -13:52
UTC -13:08
UTC -13:27
UTC +01:55
UTC +00:29
UTC +07:38
UTC +06:06
UTC +07:07
UTC +01:22
UTC -04:24
UTC -00:30
UTC +02:10
UTC +06:24
UTC +01:08
UTC +11:07
UTC +05:41
UTC +00:19
UTC +11:05
UTC +11:39
UTC +12:13
UTC -05:45
UTC +00:13
UTC +00:13
UTC -11:19
UTC +11:11
UTC -14:21
UTC +00:43
UTC +03:41
UTC +04:28
UTC -15:02
UTC +02:17
UTC +02:20
UTC -05:18
UTC +10:22
UTC +09:48
UTC -03:50
UTC -05:08
UTC -15:56
UTC -08:40
UTC +01:24
UTC -01:42
UTC -01:07
UTC -00:36
UTC -04:24
UTC +03:26
UTC +01:44
UTC +11:49
UTC +05:35
UTC +07:33
UTC +06:57
UTC +10:34
UTC +09:02
UTC +06:11
UTC +10:03
UTC +05:48
UTC +05:31
UTC +04:53
UTC +09:30
UTC +10:14
UTC +05:39
UTC +09:32
UTC +08:47
UTC +08:38
UTC +04:02
UTC +03:12
UTC +01:22
UTC +03:18
UTC +02:30
UTC +03:20
UTC +03:04
UTC +03:13
UTC +02:57
UTC +02:10
UTC +03:41
UTC -04:24
UTC -00:16
UTC -04:24
UTC -04:24
UTC -04:24
UTC -03:44
UTC -04:24
UTC +12:33
UTC +00:49
UTC +00:26
UTC +03:06
UTC -00:16
UTC +01:22
UTC +03:41
UTC -00:16
UTC +06:55
UTC -04:24
UTC +00:57
UTC +01:22
UTC +10:39
UTC +02:27
UTC +01:52
UTC -02:26
UTC +02:06
UTC -00:21
UTC -01:01
UTC -00:14
UTC +05:19
UTC +02:10
UTC -03:40
UTC +00:43
UTC +01:52
UTC +01:12
UTC +00:34
UTC +02:25
UTC +08:06
UTC +04:35
UTC +02:27
UTC +06:42
UTC +08:22
UTC -00:16
UTC -11:24
UTC +12:19
UTC -04:24
UTC +00:40
UTC +01:55
UTC +03:53
UTC -04:44
UTC +11:56
UTC +02:27
UTC +02:02
UTC +02:16
UTC +01:29
UTC +02:20
UTC +03:41
UTC -00:01
UTC +12:13
UTC +14:00
UTC -07:44
UTC -05:50
UTC -06:59
UTC -05:32
UTC -05:44
UTC -05:46
UTC -05:45
UTC -05:49
UTC -05:47
UTC -05:40
UTC -05:50
UTC -05:46
UTC +15:02
UTC -05:43
UTC -05:39
UTC -07:52
UTC -05:50
UTC +15:13
UTC -04:56
UTC +12:58
UTC -06:47
UTC -06:45
UTC -06:45