In [1]:
# Project breakdown
### get input from user

In [2]:
import pandas as pd
import numpy as np

In [9]:
file1 = pd.read_csv("dataset/timezones_Detailed_588_Countries.csv")
file2 = pd.read_csv("dataset/timezones_Standard_Times.csv")
file3 = pd.read_excel("dataset/Time zones_404_Counries.xlsx")

In [10]:
file1.head()

             timezone  offset  offset_dst(Day light Savings)
0      Africa/Abidjan       0                              0
1        Africa/Accra       0                              0
2  Africa/Addis_Ababa   10800                          10800
3      Africa/Algiers    3600                           3600
4       Africa/Asmara   10800                          10800

In [11]:
file2.head()

   Zone                            Time Zone Name    GMT Offset
0  ACDT  Australian Central Daylight Savings Time        +10:30
1  ACST          Australian Central Standard Time        +09:30
2   ACT                                 Acre Time            -5
3   ACT                         ASEAN Common Time  +06:30 - +09
4   ADT                    Atlantic Daylight Time            -3

In [12]:
file3.head()

  Country Code    Country Name          Time Zone  GMT Offset
0           AF     Afghanistan         Asia/Kabul  UTC +04:36
1           AL         Albania      Europe/Tirane  UTC +01:19
2           DZ         Algeria     Africa/Algiers  UTC +00:12
3           AS  American Samoa  Pacific/Pago_Pago  UTC +12:37
4           AD         Andorra     Europe/Andorra  UTC +00:06

In [18]:
len(set(file1['timezone'])), len(set(file3['Time Zone']))

(588, 404)